/* 等价旧版 ongeki-song-score-ranking.component.css + card-level 样式 */
.ongeki-song-score-ranking-sheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.music-img {
  max-width: 12em;
}

.music-info {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.music-title {
  font-weight: bold;
}

.honor-badge {
  aspect-ratio: 1;
  width: 32px;
}

.honor {
  height: 32px;
}

.difficulty-detail-body {
  min-height: 2.5em;
}

.color-basic {
  color: var(--bs-green);
}

.color-advanced {
  color: var(--bs-yellow);
}

.color-expert {
  color: var(--bs-red);
}

.color-master {
  color: var(--bs-purple);
}

.bg-lunatic {
  background: var(--bs-white);
}

.medal {
  width: 1rem;
}

.boss-img {
  right: 0;
  height: 3em;
  min-width: 0;
  aspect-ratio: 1.8;
  object-fit: cover;
}

.boss-level {
  width: 4em;
}

.music-info-container {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

[data-bs-theme='light'] .music-info-container {
  --color-from: rgba(255, 255, 255, 0.3);
  --color-to: rgba(255, 255, 255, 1);
}

[data-bs-theme='dark'] .music-info-container {
  --color-from: rgba(33, 37, 41, 0.3);
  --color-to: rgba(33, 37, 41, 1);
}

.music-info-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(to bottom, var(--color-from) 0%, var(--color-to) 100%),
    var(--jacket-img);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  z-index: -1;
}

.level-container {
  bottom: 0;
  --bs-aspect-ratio: 40.2985074626866%;
  background-size: 100% 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.level-container .level-number {
  height: 60%;
  margin-top: 3%;
}
.level-container .level-header {
  height: 50%;
  padding: 0;
  margin-top: 8%;
  margin-left: -5%;
}
